<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixwucs.muhu.dao.ContentsMapper">
  <resultMap id="BaseResultMap" type="com.lixwucs.muhu.bean.Contents">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="notices_id" jdbcType="BIGINT" property="noticesId" />
  </resultMap>

</mapper>